@model FYPPharmAssistant.Models.InventoryModel.Stock

@{
    ViewBag.Title = "Details";
}
<div class="box box-body box-primary">

    <div>
        <h4>Stock</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Item.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BatchNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Qty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Qty)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CostPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CostPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellingPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManufacturedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManufacturedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpiryDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>