@model IEnumerable<FYPPharmAssistant.Models.InventoryModel.Stock>

<table class="table" id="datatable">
    <thead>
        <tr class="dataTableHead">
            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNo)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>

        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        var table = $('#datatable').dataTable({
            "paging": false,
            "info": true,
            "filter":false
        });
        var tableTools = new $.fn.dataTable.TableTools(table, {
            'aButtons': [
                {
                    'sExtends': 'xls',
                    'sButtonText': 'Save to Excel',
                    'sFileName': 'ExpiryReturns.xls'
                },
                {
                    'sExtends': 'print',
                    'bShowAll': true,
                },
                {
                    'sExtends': 'pdf',
                    'bFooter': false,
                    'bShowAll': true
                },
                'copy'

            ],
            'sSwfPath': 'http://cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf'
        });
        $(tableTools.fnContainer()).insertBefore('#datatable_wrapper');
    });
</script>