@model IEnumerable<FYPPharmAssistant.Models.InventoryModel.Stock>

<div>
    <table class="table table-striped table-responsive dataTable">
        <thead>
            <tr style="background-color:#2c3e50; color:white">
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BatchNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>

                <th>
                    Days to expire
                </th>
              @*  <th>
                    Restock?
                </th> *@
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="stocksID" id="stocksID" value="@item.ID ">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td class=".formatDays">
                    @formatDays(Convert.ToString(Html.DisplayFor(modelItem => (Convert.ToDateTime(item.ExpiryDate) - DateTime.Now).Days)))

                    @helper formatDays(string days)
                                    {
                                        var color = "green";
                                        string day = days;
                                        var dayTest = Convert.ToInt32(day);
                                        if (dayTest < 0)
                                        {
                                            color = "#c0392b";
                                            day = " expired !";
                                        }
                                        else
                                        {                                          
                                            day = day + " days";
                                        }
                                        <span class="badge" style="background-color: @color; color:white;;"> @String.Format("{0}", day)</span>
                                    }
                </td>             
            </tr>
        }
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Restock Expiry</h4>
            </div>
            <form action="RestockExpiry" method="post">
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Stock ID</td>
                            <td><input type="text" name="ID" id="ID"/></td>
                        </tr>
                        <tr>
                            <td>Item Name</td>
                            <td><label id="ItemName">..</label></td>
                        </tr>

                        <tr>
                            <td>Batch No</td>
                            <td><input type="text" name="BatchNo" id="BatchNo" /></td>
                        </tr>
                        <tr>
                            <td>Qty</td>
                            <td><input type="text" name="Qty" id="Qty" /></td>
                        </tr>
                        <tr>
                            <td>CP</td>
                            <td><input type="text" name="CostPrice" id="CostPrice" /></td>
                        </tr>
                        <tr>
                            <td>SP</td>
                            <td><input type="text" name="SellingPrice" id="SellingPrice" /></td>
                        </tr>
                        <tr>
                            <td>Expiry</td>
                            <td><input type="date" name="ExpiryDate" id="ExpiryDate" /></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" id="btnSaveReturn" class="btn btn-primary" value="Save" />
                </div>
            </form>  
        </div>
    </div>
</div>

<script>   
    $(document).ready(function () {
        

        $('.btnRestock').on('click', function () {
            var id = $(this).closest('tr').find('td:eq(1)').text();
            var item = $(this).closest('tr').find('td:eq(2)').text();
            var batch = $(this).closest('tr').find('td:eq(3)').text();
            var qty = $(this).closest('tr').find('td:eq(4)').text();
            var expiry = $(this).closest('tr').find('td:eq(5)').text();
            $('#ID').val($.trim(id));
            $('#ItemName').text(item);
            $('#BatchNo').val($.trim(batch));
            $('#Qty').val($.trim(qty));
        });
    });
</script>